@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2,0,36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 82, 112, 0.3604035364145658) 58%,
    rgba(44, 51, 52, 1) 74%
  );
}

.mainbg {
  background-image: linear-gradient(
      rgba(120, 114, 114, 0.8),
      rgba(120, 114, 114, 0.5)
    ),
    url('/photos/main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
p,
div {
  font-family: Shrikhand;
}

.small1 {
  font-family: Smooch;
}
