@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1a1a;
}

.mainbg {
  background-image: linear-gradient(
      rgba(120, 114, 114, 0.8),
      rgba(120, 114, 114, 0.5)
    ),
    url('/photos/main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
p,
div {
  font-family: Shrikhand;
}

.small1 {
  font-family: Smooch;
}
